<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
<span>Bienvenido {{user.first_name}}. </span>
<a href="/api/sessions/profile">Profile</a>
<h2>Products</h2>

<div id="productsTable">    
  <table>
      <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Code</th>
          <th>Price</th>
          <th>Thumbnails</th>
          <th>Stock</th>
          <th>Status</th>
          <th>Add to cart</th>
      </tr>
    {{#each products}}
      <tr>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.code}}</td>
          <td>{{this.price}}</td>
          <td>{{this.thumbnail}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.status}}</td>
          <td><button id="{{this._id}}" class="go-to-product">+</button></td>
      </tr>
    {{/each}}
  </table>
</div> 
<div>
  <button class="prevBtn">Prev Page</button>
  <button class="nextBtn">Next Page</button>
</div>
<div>
  Page <span class="page">{{page}}</span>
  of <span class="total-pages">{{totalPages}}</span>
</div>
<div><button class = "go-to-cart">See cart</button></div>

<script>
//PREV & NEXT BUTTONS
const prevBtn = document.querySelector(".prevBtn");
const nextBtn = document.querySelector(".nextBtn")

prevBtn.addEventListener('click', function(){
  if({{hasPrevPage}}){
    
    let queryString = '?limit=' + {{limit}} + '&page='+ {{#if prevPage}}{{prevPage}}{{else}}""{{/if}}
    window.location.href = window.location.origin +'/'+ queryString
    console.log("hola")
  }
})
nextBtn.addEventListener('click', function(){
  if({{hasNextPage}}){
    let queryString = '?limit=' + {{limit}} + '&page='+ {{#if nextPage}}{{nextPage}}{{else}}""{{/if}}
    window.location.href = window.location.origin +'/'+ queryString
    console.log("hola")
  }
})

//GO TO PRODUCT BUTTONS
const viewMoreBtns = document.querySelectorAll('.go-to-product')
viewMoreBtns.forEach(function(node){
  node.addEventListener('click', function(){
    window.location.href = window.location.origin + '/' + node.id
  })
})

//GO TO CART BUTTON
const cartBtn = document.querySelector('.go-to-cart')
let cartId = ""
cartBtn.addEventListener('click', function(){//to get the cart id
  fetch(window.location.origin + '/api/carts/last')
    .then(function(response) {
        return response.json();
    })
    .then(function(cart) {
        cartId = cart.payload._id
        window.location.href = window.location.origin + '/carts/' + cartId
    })
    .catch(function(error) {
        console.error('Error fetching cartId:', error);
    });
})
</script>