<input id="uid" type="text" placeholder="Enter uid">
<button id="deleteBtn">Delete</button>
<button id="deleteInactiveBtn">Delete inactive</button>
<button id="upgradeBtn">Upgrade to premium</button>
<button id="downgradeBtn">Downgrade to user</button>
<table>
    <tr>
        <th>Email</th>
        <th>uid</th>
        <th>Full Name</th>
        <th>Role</th>
        <th>Documents</th>
        <th>Last_connection</th>
    </tr>
    {{#each users}}
      <tr>
          <td>{{this.email}}</td>
          <td>{{this.uid}}</td>
          <td>{{this.full_name}}</td>
          <td>{{this.role}}</td>
          <td>
            {{#each this.documents}}
                <p>{{this.name}}: {{this.reference}}</p>
            {{/each}}
          </td>
          <td>{{this.last_connection}}</td>
      </tr>
    {{/each}}
</table>

<script>
    //delete
    const deleteBtn = document.querySelector('#deleteBtn')
    deleteBtn.addEventListener('click',(e)=>{
        const uid = document.querySelector("#uid").value
        console.log(uid)
        fetch(
            window.location.origin + '/api/users/' + uid, 
            {method: 'DELETE'}
        )
        .then(function(response) {
            return response.json();
        })
        .then(function() {
            window.location.reload()
        })
        .catch(function(error) {
            console.error('Error deleting user', error);
        })
    })
    //upgrade 
    const upgradeBtn = document.querySelector('#upgradeBtn')
    upgradeBtn.addEventListener('click',function(){
        fetch(
            window.location.origin + '/api/users/premium/' + uid, 
            {method: 'POST'}
        )
        .then(function(response) {
            return response.json();
        })
        .then(function() {
            window.location.reload()
        })
        .catch(function(error) {
            console.error('Error upgrading user', error);
        })
    })
    //downgrade
    const downgradeBtn = document.querySelector('#downgradeBtn')
    downgradeBtn.addEventListener('click',function(){
        fetch(
            window.location.origin + '/api/users/premium/' + uid, 
            {method: 'POST'}
        )
        .then(function(response) {
            return response.json();
        })
        .then(function() {
            window.location.reload()
        })
        .catch(function(error) {
            console.error('Error downgrading user', error);
        })
    })
    //deleteInactive
    const deleteInactiveBtn = document.querySelector('#deleteInactiveBtn')
    deleteInactiveBtn.addEventListener('click',function(){
        fetch(
            window.location.origin + '/api/users/' + uid, 
            {method: 'DELETE'}
        )
        .then(function(response) {
            return response.json();
        })
        .then(function() {
            window.location.reload()
        })
        .catch(function(error) {
            console.error('Error deleting inactive users', error);
        })
    })
</script>